<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<div class="container">
    <div class="wr">
        <form onsubmit="return false">
            <label>ID</label>
            <input type="text" id="id">
            <div id="checkId"></div>
            <label>PW</label>
            <input type="password" id="pwd">
            <div id="checkPwd"></div>
            <label>Email</label>
            <input type="text" id="email">
            <div id="checkEmail"></div>
            <input id="signup" type="submit" value="Sign Up">
        </form>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script>
    var email = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);
    var id= RegExp(/^[a-zA-Z0-9]{4,12}$/);
    var pw= RegExp(/^[a-zA-Z0-9]{4,12}$/);

    var i = 0;
    var p = 0;
    var e = 0;

    $('#id').blur(function () {
        if ($('#id').val()==="") {
            $('#checkId').html('<p style="color:red">필수사항 입니다</p>');
        }
        else if (!id.test($('#id').val())) {
            $('#checkId').html('<p style="color:red">형식에 맞게 입력해주세요</p>');
        } else {
            var idData = JSON.stringify({
                id: $('#id').val()
            });
            $.ajax({
                url: "/register/confirm/id",
                type: "POST",
                data: idData,
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    $('#checkId').html('<p style="color:green">사용 가능합니다</p>');
                    i = 1;
                },
                error: function () {
                    $('#checkId').html('<p style="color:red">이미 사용중입니다.</p>');
                    i = 0;
                }
            });
        }
    });
    $('#pwd').blur(function () {
        if ($('#pwd').val()==="") {
            $('#checkPwd').html('<p style="color:red">필수사항 입니다</p>');
        }else if (!pw.test($('#pwd').val())) {
            $('#checkPwd').html('<p style="color:red">형식에 맞게 입력해주세요</p>');
        } else {
            $('#checkPwd').html('<p style="color:green">사용 가능합니다</p>');
            p = 1;
        }
    });
    $('#email').blur(function () {
        if ($('#email').val()==="") {
            $('#checkEmail').html('<p style="color:red">필수사항 입니다</p>');
        }
        else if (!email.test($('#email').val())) {
            $('#checkEmail').html('<p style="color:red">형식에 맞게 입력해주세요</p>');
        } else {
            var emailData = JSON.stringify({
                email: $('#email').val()
            });
            $.ajax({
                url: "/register/confirm/email",
                type: "POST",
                data: emailData,
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    $('#checkEmail').html('<p style="color:green">사용 가능합니다</p>');
                    e = 1;
                },
                error: function () {
                    $('#checkEmail').html('<p style="color:red">이미 사용중입니다.</p>');
                    e = 0;
                }
            });
        }
    });
    $('#signup').click(function () {
        if(i===0 && e===0 && p===0){
            $('#checkId').html('<p style="color:red">필수사항 입니다</p>');
            $('#checkPwd').html('<p style="color:red">필수사항 입니다</p>');
            $('#checkEmail').html('<p style="color:red">필수사항 입니다</p>');
        } else if (i===1 || e===1 || p===1){
            var userData = JSON.stringify({
                id: $('#id').val(),
                pwd: $('#pwd').val(),
                email: $('#email').val()
            });
            $.ajax({
                url: "/register",
                type: "POST",
                data: userData,
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    location.href = '/login';
                },
                error: function () {
                    alert('Nope!');
                }
            });
        }
    });
</script>
</body>
</html>
