<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project-TDL</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
</head>
<body>
<header class="headers">
    <span class="head">
        <img id="image" src="/image/home.png" width="50px">
        <span>To Do List</span>
    </span>
</header>
<div class="wrapper">
    <div class="register">
        <form action="/tdl" method="post">
            <input id="bar" type="text" name="description" style="background-color:transparent;" maxlength="35">
            <input id="insert" type="submit" value="등록">
        </form>
    </div>
    <div class="container" th:each="tdl : ${tdlList}">
        <div id="column-left">
            <h1 th:text="${tdl.description}"></h1>
            <p id="date" th:text="${tdl.createdDate} ? ${#temporals.format(tdl.createdDate,'yyyy-MM-dd')} : ${tdl.createdDate}"></p>
        </div>
        <div id="column-right">
            <h1 class="icon">
                <button><i class="material-icons md-30">edit</i></button>
                <button i class="material-icons md-30">delete_forever</button></i>
            </h1>
            <p id="status" th:text="${tdl.status}"></p>
        </div>
    </div>
</div>
</body>
</html>